<div class="row">
  <div class="column">
    <div class="contact-panel -mt5">
      <div class="contact-panel__header">
        <%= markdown(section.text) %>
      </div><!--faq-panel__header-->

      <div class="contact-panel__content">
        <!-- TODO: use route helper without needing to call directly on wcc_contentful_app -->
        <%= form_tag wcc_contentful_app.contact_form_path, remote: true, data: { contact_form: 'yaddiyaddi' }, method: 'post' do %>
          <input type="hidden" name="id" value="<%= section.id %>" />
          <% section.fields&.each do |field| %>
            <div class="field">
              <label for="" class="contact-panel__label"><%= field.title %></label>
              <%= case field.input_type
                  when 'email'
                    content_tag(:input, nil, type: 'email', name: field.title, required: true)
                  when 'textarea'
                    content_tag(:textarea, nil, rows: 8, columnns: 80, name: field.title, minlength: 5, required: true)
                  else
                    content_tag(:input, nil, type: 'text', name: field.title)
                  end %>

            </div>
          <% end %>
          <%= submit_tag section.submit_button_text || 'Submit',
                class: 'button white', data: { disable_with: 'Submitting...' } %>
        <% end %>

      </div><!--faq-panel__content-->

    </div><!--faq-panel-->

  </div><!--column-->
</div><!--row-->
