<div class="row justify-content-center">
  <div class="col-xs-12 col-md-10">
    <div class="contact-panel__header">
      <%= markdown(section.text) %>
    </div><!--contact-panel__header-->

    <div class="contact-panel__form">
      <%= form_tag wcc_contentful_app_engine.contact_form_path,
            remote: true,
            data: { contact_form: true },
            method: 'post' do %>
        <input type="hidden" name="id" value="<%= section.id %>" />
        <% if person_email %>
          <input id="person-email" type="hidden" name="person_email" value="<%= person_email %>" />
        <% end %>

        <% section.fields&.each do |field| %>
          <div class="form-group contact-panel__form-field">
            <label for="" class="contact-panel__form-field-label"><%= field.title %></label>
            <%= case field.input_type
                when 'email'
                  content_tag(:input,
                    nil,
                    type: 'email',
                    name: field.title,
                    class: 'form-control',
                    required: true)
                when 'textarea'
                  content_tag(:textarea,
                    nil,
                    rows: 8,
                    columnns: 80,
                    name: field.title,
                    class: 'form-control',
                    minlength: 5,
                    required: true)
                else
                  content_tag(:input, nil, type: 'text', name: field.title, class: 'form-control')
                end %>
          </div>
        <% end %>
        <%= submit_tag section.submit_button_text || 'Submit',
              class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
      <% end %>

    </div><!--contact-panel__content-->
  </div><!--column-->
</div><!--row-->
