<% return '' unless item
   classes ||= []
   classes.push('active') if item_active?(item)
   classes.push('dropdown') if dropdown?(item) %>
<%= content_tag(:li, class: classes) do %>
  <% if dropdown?(item) %>
    <% if item.label %>
      <%= render_button(item.label) %>
    <% else %>
      <%= content_tag(:a, item.name) %>
    <% end %>

    <ul class='dropdown-menu'>
      <% item.items.each do |dropdown_item| %>
        <%= render 'components/menu-item',
              item: dropdown_item %>
      <% end %>
    </ul>
  <% elsif item.respond_to?(:href) %>
    <%= render_button(item, data: { toggle: "collapse", target: "#navbar" }) %>
  <% else %>
    <%# divider %>
    <span class="divider <%= item.style %>">
    </span>
  <% end %>
<% end %>