<% return '' unless item
   classes ||= ['nav-item']
   classes.push('active') if item_active?(item)
   classes.push('dropdown') if dropdown?(item) %>
<%= content_tag(:li, class: classes) do %>
  <% if dropdown?(item) %>
    <% if item.label %>
      <%= render_button(item.label, class: 'nav-link dropdown-toggle') %>
    <% else %>
      <%= content_tag(:a, item.name, class: 'nav-link dropdown-toggle') %>
    <% end %>

    <div class='dropdown-menu'>
      <% item.items.each do |dropdown_item| %>
        <%= render_button(dropdown_item, class: 'dropdown-item', data: { toggle: "collapse", target: "#navbar" }) %>
      <% end %>
    </div>
  <% elsif item.respond_to?(:href) %>
    <%= render_button(item, class: 'nav-link', data: { toggle: "collapse", target: "#navbar" }) %>
  <% else %>
    <%# divider %>
    <span class="divider <%= item.style %>">
    </span>
  <% end %>
<% end %>